
.navbar-toggle {
  @apply
  flex
  md:flex
  flex-col
  md:flex-row
  md:ml-auto
  md:mt-0
  mt-3
  transition-all
}

.menu-item {
  @apply
  p-2
  lg:px-4
  md:mx-2
  text-gray-600
  rounded
  hover:bg-gray-200
  hover:text-gray-700
  transition-colors
  duration-300
}
